/* public/css/header.css */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#008c28;
    color: white;
    /* padding: 5px 0; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.3s;
}

header nav a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    border-radius: 4px;
}

body {
    padding-top: 60px; /* Để đảm bảo nội dung không bị trùng với header cố định */
}
