body {
    /* font-family: T, sans-serif; */
    font-size: large;
    margin: 10px;
    padding: 10px;
    /* text-align: center; */
    
}

header {
    font-size: large;
    background-color: #008c28;
    color: white;
    padding-bottom: 15px;
    padding-top: 20px;
    
    /* margin-bottom: 10px; */
    /* justify-content: space-between; */
    align-items: center;
}


header a.a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

header a.a:hover {
    color: aqua; /* A different color on hover for better visibility */
}

main {
    padding: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
