body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color:#008c28;
    color: white;
    text-align: left;
    padding: 10px ;
    padding-left: 10px;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
    background-color: #66ff91;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* resources/css/user_show.css */
.table tbody tr:hover {
    background-color: yellow;
    cursor: pointer;
}
.selected-row {
    font-weight: bold;
    background-color: yellow;
}
.delete_user button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete_user button:hover {
    background-color: #c82333;
}

.delete_user button i {
    margin-right: 5px;
}
.delete_user button {
    font-size: 14px;
    padding: 8px 12px;
}

